*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5e5;
    min-height: 100vh;
    border: 10px solid #344e41;
}
.content{
    max-width:1120px;
    margin: 0 auto;
}
.top_section{
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 42px;
    font-weight: bold;
    color: #588157;
    text-transform: uppercase;
}
.top_section h4{
    font-size: 28px;
    text-align: end;
    
}
.image_container{
    border-radius: 60%;
    overflow:hidden;
}
.image_container ,
img{
    width: 250px;
    height: 270px;
}
.about_section{
    margin-top: 55px;
}
.about_section h2{
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 15px;
}
.about_section p{
    font-size: 22px;
    line-height: 28px;
    letter-spacing:0.5px;
    text-align: justify ;
}
.biography_section{
    margin: 45px 0;

}
.biography_section h3{
    margin-bottom: 12px;
}
.biography_section ul{
    margin-left: 40px;
}
.biography_section li{
    margin-bottom: 5px;
    font-size: 20px;
}
footer{
    margin: 35px 0;
}
footer p{
    text-align: end;
}
